# Each section is a slave name
# A closed list of options turns into parameters for that slave,
# the others go in build properties

[my-slave]
#
# required
#
password = secret
# if a capability has several versions, make one for each. You may specify
# additional properties at the end of each line. The example below shows the
# one used to refer to the correct PostgreSQL clusters
capability = postgresql 8.4 port=5432
             postgresql 9.1 port=5433
             postgresql 9.2-devel port=5434 bin=/opt/postgresql-9.2devel/bin lib=/opt/postgresql-9.2devel/lib

# builder's testing db is concatenation of db_prefix and builder name
db_prefix = openerp-buildbot

#
# optional parameters (no default values for these)
#
max_builds = 2
notify_on_missing = joe@example.com
