# Each section is a slave name
# A closed list of options turns into parameters for that slave,
# the others go in build properties

[my-slave]
#
# required
#
password = secret
capability = postgresql 8.4 port=5432 psql=psql bin= lib=
             postgresql 9.1 port=5433 psql=psql bin= lib=

# builder's testing db is concatenation of db_prefix and builder name
db_prefix = openerp-buildbot

#
# optional parameters (no default values for these)
#
max_builds = 2
notify_on_missing = joe@example.com
