[openerp-6.1]
# the 'buildout' option indicates how to create the buildout configuration
# the first token is the type
#   *standalone* type : the second part is a path from buildmaster dir to a
#   buildout conf file, that must not include or more generally depend on other
#   files
# the buildout openerp server part must be called 'openerp'
buildout = standalone 6.1.cfg
bootstrap-version = 1.7

# this is the list of branches on VCSes to watch. update-mirrors will
# take care of them, the scheduler will filter from them to run this buildout's
# builders
watch = bzr lp:openobject-server/6.1
        bzr lp:openobject-addons/6.1
        bzr lp:openerp-web/6.1

# this is the list of addons to test and install. White spaces don't count
openerp-addons = crm, sale, purchase, stock, account
# this restricts postgresql versions to run against
build-for = postgresql == 9.1
# this is set on Builders as 'category', allowing to filter in status notifiers
build-category = mature

[openerp-7.0]
buildout = standalone 7.0.cfg
bootstrap-version = 1.7
watch = bzr lp:openobject-server/7.0
        bzr lp:openobject-addons/7.0
        bzr lp:openerp-web/7.0

openerp-addons = crm, sale, purchase, stock, account
build-for = postgresql >= 9.1 < 9.3

[ocb-7.0]
buildout = standalone ocb-7.0.cfg
bootstrap-version = 1.7
watch = bzr lp:ocb-server/7.0
        bzr lp:ocb-addons/7.0
        bzr lp:ocb-web/7.0
post-buildout-steps = openerpcommand-initialize-tests
build-for = postgresql >= 9.2

[openerp-trunk]
buildout = standalone trunk.cfg
bootstrap-version = 1.7
watch = bzr lp:openobject-server/trunk
        bzr lp:openobject-addons/trunk
        bzr lp:openerp-web/trunk

openerp-addons = crm, sale, purchase, stock, account
build-for = postgresql == 9.3
# this sets the time without any commit to wait before a build is triggered
tree-stable-timer = 900

[openerp-6.0-anybox]
buildout = standalone 6.0-anybox.cfg
bootstrap-version = 1.7
watch = bzr lp:openobject-server/6.0
        bzr lp:~anybox/openobject-addons/6.0.3-bugfix
build-for = postgresql < 9.1

[anybox.buildbot.openerp]
# a project that's not installed by buildout can still by defining Builders,
# Schedulers, etc. Still, it may take profit of the mirrors.
# Even more, if using the SharedPBChangeSource, registering the watched branches
# here is necessary for changes to be accepted by this master
watch = bzr lp:anybox.buildbot.openerp

[funkload-6.1]
buildout = bzr lp:anybox.funkload.openerp buildout-6.1.cfg
bootstrap-version = 1.7
watch = bzr lp:openobject-server/6.1
        bzr lp:openobject-addons/6.1
        bzr lp:openerp-web/6.1
        bzr lp:anybox.funkload.openerp
openerp-addons = sale
post-buildout-steps = standard
                      functional
functional.commands = examples/sales_order/run-test.sh
functional.parts = funkload

build-for = postgresql == 9.2
build-requires = debian-based



