[buildout]
parts = odoo

extensions = gp.vcsdevelop
vcs-extend-develop =
    git+https://github.com/anybox/anybox.recipe.odoo#egg=aro
vcs-update = True

[odoo]
recipe = anybox.recipe.odoo:server
version = git https://github.com/anybox/odoo ocb-anybox 8.0
eggs = pyPdf

# current odoo 8.0 breaks on werkzeug 0.10
[versions]
reportlab = 2.7
python-dateutil = 2.3
werkzeug = < 0.10
